@{
    ViewBag.Title = "title";
}
<div class="container" style="margin-top: 9px; border: 1px black solid; border-top: 1px solid black;background-color: white; margin-left: -30px; margin-right: -30px;">
    <div class="row" style="margin-top: 3px;">
        <center>
            <img src="https://yt3.ggpht.com/-3XQzEpn-fdA/AAAAAAAAAAI/AAAAAAAAAAA/HuxRa32A8Hw/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" style="border-radius: 45%; border: 2px solid black; display: inline-block"/>
            <h1><b>Bort</b></h1>
        </center>
    </div>
    <div class="row" style="margin-top: 20px; margin-left: 5px; margin-right: 5px">
        <table class="table table-condensed table-bordered">
            <tbody>
            <tr>
                <td><b>Joined at</b></td>
                <td>11 December 2017</td>
            </tr>
            <tr>
                <td><b>Location</b></td>
                <td>The Netherlands</td>
            </tr>
            <tr>
                <td><b>Steam</b></td>
                <td>Bort</td>
            </tr>
            <tr>
                <td>&nbsp;Steam description</td>
                <td>The guy with the Fox picture from the Netherlands. UserId is bartdebever112.</td>
            </tr>
            <tr>
                <td><b>Twitter</b></td>
                <td>@@BortTheBeaver</td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="row" style="margin-left: 5px; margin-right: 5px;">
            <h2>Games</h2>
            <div class="container">
                <span class="glyphicon glyphicon-chevron-right" data-toggle="collapse" data-target="#lol"></span><h3 style="display: inline-block">League of Legends</h3>
                <div id="lol" class="collapse">
                    <table class="table">
                        <thead>
                        <tr>
                            <td><b>Summoner Name</b></td>
                            <td><b>Region</b></td>
                            <td><b>Verified</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>BortTheBeaver</td>
                            <td>EUW</td>
                            <td>✔️</td>
                        </tr>
                        <tr>
                            <td>Not Bort</td>
                            <td>NA</td>
                            <td>❌</td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Mains</h4>
                    <table class="table table-solid table-bordered">
                        <tr>
                            <td>
                                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Khazix.png" height="75"/>
                                Kha'Zix
                            </td>
                            <td>
                                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Evelynn.png"height="75"/>
                                Evelynn
                            </td>
                            <td>
                                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Morgana.png"height="75"/>
                                Morgana
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container">
                <span class="glyphicon glyphicon-chevron-right" data-toggle="collapse" data-target="#smash"></span><h3 style="display: inline-block">Super Smash Bros Melee</h3>
                <div id="smash"class="collapse">
                    Anther's Ladder Accounts:
                    <table class="table">
                        <thead>
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>Location</b></td>
                            <td><b>Verified</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>BortTheBeaver</td>
                            <td>The Netherlands</td>
                            <td>✔️</td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Mains</h4>
                    <table class="table table-solid table-condensed">
                        <tbody>
                        <tr>
                            <td>
                                <img src="https://i1.sndcdn.com/artworks-000101244125-7zyghz-t500x500.jpg" height="75" style="border: 3px black solid;"//>
                                Fox
                            </td>
                            <td>
                                <img src="https://images.wikia.nocookie.net/__cb20160118225618/ssb/images/thumb/0/00/Marth_Head_01_%28SSBM%29.png/130px-0%2C25%2C0%2C24-Marth_Head_01_%28SSBM%29.png" height="75" style="border: 3px black solid;" />
                                Marth
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

